.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  align-self: baseline;
  border: solid 1px var(--c-one);
  border-radius: 25px;
  box-shadow: 1px 1px 6px var(--c-one);

  &__title {
    margin-bottom: 0;
    text-align: center;
    color: var(--c-two);
  }

  &__image {
    width: 200px;
    margin: 20px;
    align-self: center;
    border-radius: 10px;
    opacity: 0.5;
    transform: translatey(-20px);
    transition: transform 0.25s;
  
    &:hover {
      transform: translatey(0);
      transform: scale(1.3);
      animation-name: images;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  
    @keyframes images {
      25% {
        opacity: 0.7;
      }
      75% {
        opacity: 1;
        border-radius: 25px;
      }
    }
  }

  @media (max-width: $xx-large) and (min-width: $large){
    width: 33%;
    height: 550px;

  }
  @media (min-width: $xx-large) {
    width: 30%;
    height: 550px;
  }
}
