.card {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 510px;
  padding: 20px;
  margin: 5px;
  align-self: baseline;
  border: solid 1px var(--c-one);
  border-radius: 25px;
  box-shadow: 1px 1px 6px var(--c-one);

  &__title {
    margin-bottom: 0;
    text-align: center;
    color: var(--c-two);
  }
}
