:root {
  --f-prymary: 'Roboto';
  --c-one: #0250c5;
  --c-two: #d43f8d;
  --c-three: #FAA922;
  --c-four: #EADEF2;
  --c-five: #7A32FA;
  --c-six: #5EC2EB;
  --c-seven: #30cfd0;
  --c-eight: #330867;
  --c-nine: #5ee7df;
  --c-ten: #b490ca;

}
