.cards {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $xx-large) and (min-width: $large){
    flex-direction:  row;
  }
  @media (min-width: $xx-large) {
    flex-direction:  row;
  }
}
