.cars {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $xx-large) and (min-width: $large){
    height: 100vh;
  }
  @media (min-width: $xx-large) {
    height: 100vh;  
  }
}
