.container {
  background-color: white;
  width: 98%; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 6px var(--c-eight);

  @media (max-width: $xx-large) and (min-width: $medium){
    padding: 20px;
    width: 60%;
  }
  @media (min-width: $xx-large) {
    width: 60%;
    padding: 20px;
  }
}
