.table {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-spacing: 0;

  &__label {
    padding: 5px;
    width: 10%;
    color: var(--c-one);

    &:nth-child(1) {
      width: 4%;
      padding: 5px;
    }

    @media (min-width: $xx-large) {
      padding: 10px;
    }
  }

  &__item {
    padding: 10px 5px;
    width: 10%;

    &:nth-child(1) {
      width: 5%;
      padding: 5px;
    }

    &:nth-child(4) {
      color: var(--c-three);
    }

    @media (min-width: $xx-large) {
      padding: 10px;
    }
  }

  &__list {
    &:nth-child(even) {
      background: var(--c-four);
    }
  }

  @media (min-width: $xx-large) {
    padding: 20px 40px;
  }
}
